<!--<br>-->
<!--<h2 class="panel-title">{{ "funds.withdraw_history.title" | t }}</h2>-->

<!--<table class="table withdraw-history" ng-controller="WithdrawHistoryController as wdCtrl">-->
    <!--<tr>-->
        <!--<th>{{ "funds.withdraw_history.number" | t }}</th>-->
        <!--<th>{{ "funds.withdraw_history.withdraw_time" | t }}</th>-->
        <!--<th>{{ "funds.withdraw_history.withdraw_address" | t }}</th>-->
        <!--<th>{{ "funds.withdraw_history.actual_amount" | t }}</th>-->
        <!--<th>{{ "funds.withdraw_history.miner_fee" | t }}</th>-->
        <!--<th>{{ "funds.withdraw_history.state_and_action" | t }}</th>-->
    <!--</tr>-->
    <!--<tr ng-repeat="withdraw in wdCtrl.withdraws | orderBy:predicate">-->
        <!--<td>{{withdraw.id}}</td>-->
        <!--<td>{{withdraw.created_at | date:'yyyy-MM-dd HH:mm'}}</td>-->
        <!--<td title="{{withdraw.fund_extra}} @ {{withdraw.fund_uid}}">-->
            <!--<a href="{{withdraw.blockchain_url}}" target='_blank'>{{withdraw.fund_uid | truncate: 20}}</a>-->
        <!--</td>-->
        <!--<td>{{withdraw.amount}}</td>-->
        <!--<td>{{withdraw.fee}}</td>-->
        <!--<td>{{"funds.withdraw_history." + withdraw.aasm_state | t}}-->
            <!--<span ng-if="wdCtrl.canCancel(withdraw.aasm_state)">/-->
                <!--<a ng-click="wdCtrl.cancelWithdraw(withdraw); $event.preventDefault()" href="#" class="cancel_link">-->
                    <!--{{ "funds.withdraw_history.cancel" | t }}-->
                <!--</a>-->
            <!--</span>-->
        <!--</td>-->
    <!--</tr>-->
    <!--<tr ng-if="wdCtrl.noWithdraw()"><td colspan="6"><span class="help-block text-center">{{"funds.withdraw_history.no_data" | t}}</span></td></tr>-->
<!--</table>-->

<div class="crc-popup__content">
    <div class="crc-accordion">
        <div class="crc-accordion__section">
            <div class="crc-accordion__section-heading"><a href="#history2" title="History" class="crc-accordion__section-title">History<span class="crc-accordion__icon"><span class="fa fa-plus"></span><span class="fa fa-minus"></span></span></a>
            </div>
            <div id="history2" class="crc-accordion__section-content" style="display: block; max-height:250px; overflow-y: auto;">
                <table class="crc-table crc-table--history"  ng-controller="WithdrawHistoryController as wdCtrl">
                    <thead>
                        <tr>
                            <th>{{ "funds.withdraw_history.number" | t }}</th>
                            <th>{{ "funds.withdraw_history.withdraw_time" | t }}</th>
                            <th>{{ "funds.withdraw_history.withdraw_address" | t }}</th>
                            <th>{{ "funds.withdraw_history.actual_amount" | t }}</th>
                            <th>{{ "funds.withdraw_history.miner_fee" | t }}</th>
                            <th>{{ "funds.withdraw_history.state_and_action" | t }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="withdraw in wdCtrl.withdraws | orderBy:predicate">
                            <td>{{withdraw.id}}</td>
                            <td>{{withdraw.created_at | date:'yyyy-MM-dd HH:mm'}}</td>
                            <td title="{{withdraw.fund_extra}} @ {{withdraw.fund_uid}}">
                                <a href="{{withdraw.blockchain_url}}" target='_blank'>
                                    {{withdraw.fund_uid | truncate: 20}}
                                </a>
                            </td>
                            <td>{{withdraw.amount}}</td>
                            <td>{{withdraw.fee}}</td>
                            <td>
                                {{"funds.withdraw_history." + withdraw.aasm_state | t}}
                                <span ng-if="wdCtrl.canCancel(withdraw.aasm_state)">/
                                    <a ng-click="wdCtrl.cancelWithdraw(withdraw); $event.preventDefault()" href="#" class="cancel_link">
                                        {{ "funds.withdraw_history.cancel" | t }}
                                    </a>
                                </span>
                            </td>
                        </tr>
                        <tr ng-if="wdCtrl.noWithdraw()">
                            <td colspan="6" style="text-align: center;">
                                <span class="fund-modal-history-no-data">
                                    {{"funds.withdraw_history.no_data" | t}}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>