<!--<ng-include src="'/templates/funds/_flash.html'"></ng-include>-->
<ng-include ng-if="currency == 'cny'" src="'/templates/funds/deposit_cny.html'"></ng-include>
<ng-include ng-if="currency == 'btc'" src="'/templates/funds/deposit_btc.html'"></ng-include>
<ng-include ng-if="currency == 'oct'" src="'/templates/funds/deposit_oct.html'"></ng-include>
<ng-include ng-if="currency == 'ltc'" src="'/templates/funds/deposit_ltc.html'"></ng-include>
<ng-include ng-if="currency == 'doge'" src="'/templates/funds/deposit_doge.html'"></ng-include>
<ng-include ng-if="currency == 'dsh'" src="'/templates/funds/deposit_dsh.html'"></ng-include>
<ng-include ng-if="currency == 'xrp'" src="'/templates/funds/deposit_xrp.html'"></ng-include>
<ng-include ng-if="currency == 'eth'" src="'/templates/funds/deposit_eth.html'"></ng-include>
<ng-include ng-if="currency == 'bts'" src="'/templates/funds/deposit_bts.html'"></ng-include>
<ng-include ng-if="currency == 'usdt'" src="'/templates/funds/deposit_usdt.html'"></ng-include>
<ng-include ng-if="currency == 'dash'" src="'/templates/funds/deposit_dash.html'"></ng-include>
<ng-include ng-if="currency == 'trmb'" src="'/templates/funds/deposit_trmb.html'"></ng-include>
<ng-include ng-if="currency == 'xmr'" src="'/templates/funds/deposit_xmr.html'"></ng-include>
<ng-include ng-if="currency == 'rby'" src="'/templates/funds/deposit_rby.html'"></ng-include>
<ng-include ng-if="currency == 'ybc'" src="'/templates/funds/deposit_ybc.html'"></ng-include>
<ng-include ng-if="currency == 'xpm'" src="'/templates/funds/deposit_xpm.html'"></ng-include>
<ng-include ng-if="currency == 'gxc'" src="'/templates/funds/deposit_gxc.html'"></ng-include>
<ng-include ng-if="currency == 'ggc'" src="'/templates/funds/deposit_ggc.html'"></ng-include>
<ng-include ng-if="currency == 'opr'" src="'/templates/funds/deposit_opr.html'"></ng-include>

