<!--<ng-include src="'/templates/funds/_flash.html'"></ng-include>-->
<ng-include ng-if="currency == 'cny'" src="'/templates/funds/withdraw_cny.html'"></ng-include>
<ng-include ng-if="currency == 'btc'" src="'/templates/funds/withdraw_btc.html'"></ng-include>
<ng-include ng-if="currency == 'oct'" src="'/templates/funds/withdraw_oct.html'"></ng-include>
<ng-include ng-if="currency == 'ltc'" src="'/templates/funds/withdraw_ltc.html'"></ng-include>
<ng-include ng-if="currency == 'doge'" src="'/templates/funds/withdraw_doge.html'"></ng-include>
<ng-include ng-if="currency == 'dsh'" src="'/templates/funds/withdraw_dsh.html'"></ng-include>
<ng-include ng-if="currency == 'xrp'" src="'/templates/funds/withdraw_xrp.html'"></ng-include>
<ng-include ng-if="currency == 'eth'" src="'/templates/funds/withdraw_eth.html'"></ng-include>
<ng-include ng-if="currency == 'bts'" src="'/templates/funds/withdraw_bts.html'"></ng-include>
<ng-include ng-if="currency == 'usdt'" src="'/templates/funds/withdraw_usdt.html'"></ng-include>
<ng-include ng-if="currency == 'dash'" src="'/templates/funds/withdraw_dash.html'"></ng-include>
<ng-include ng-if="currency == 'trmb'" src="'/templates/funds/withdraw_trmb.html'"></ng-include>
<ng-include ng-if="currency == 'xmr'" src="'/templates/funds/withdraw_xmr.html'"></ng-include>
<ng-include ng-if="currency == 'rby'" src="'/templates/funds/withdraw_rby.html'"></ng-include>
<ng-include ng-if="currency == 'ybc'" src="'/templates/funds/withdraw_ybc.html'"></ng-include>
<ng-include ng-if="currency == 'xpm'" src="'/templates/funds/withdraw_xpm.html'"></ng-include>
<ng-include ng-if="currency == 'gxc'" src="'/templates/funds/withdraw_gxc.html'"></ng-include>
<ng-include ng-if="currency == 'ggc'" src="'/templates/funds/withdraw_ggc.html'"></ng-include>
<ng-include ng-if="currency == 'opr'" src="'/templates/funds/withdraw_opr.html'"></ng-include>

